header{
    width: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
    position: relative;
}



.header-left-wrapper, .header-right-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    /* background-color: blue; */
}


.header-left-categories{
    display: flex;
    list-style: none;
    color: var(--dark-grayish-blue);
}

.header-left-categories li:hover{
    color: var(--orange);
    cursor: pointer;
}

.header-left-categories{
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        height: 100%;
        padding: 80px 20px 0px;
        width: 250px;
        font-weight: 800;
        gap: 25px;
        color: var(--very-dark-blue);
        position: absolute;
}
.header-categories-ul-wrapper{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.466);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 1234;
    /* transition: .1s; */
} 

.header-categories-ul-wrapper-hide{
    left: -100%;
}

.header-categories-ul-wrapper svg{
    position: absolute;
    z-index: 23;
    left: 20px;
    top: 20px;
}




#add-item-button{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(196, 236, 51);
    font-weight: 600;
}




.cart-item-wrapper{
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 400px;
    padding: 5px 15px;
    z-index: 12345;
    width: 100vw;
    /* background-color: yellow; */
}

.cart-item-inner-wrapper{
    background-color: #f6f5f7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.cart-added-item-wrapper{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.cart-item-image{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.cart-add-item-details-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--dark-grayish-blue);
}

.delete-image{
    width: 18px;
    height:20px;
    cursor: pointer;
}


#checkout-button{
    padding: 15px;
    border-radius: 10px;
    background-color: var(--orange);
    border: none;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
}
@media (min-width: 800px){
    .menu-svg{
        display: none;
    }
    .header-left-categories{
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        /* background-color: blue; */
        position: static;
        padding: 0;
    }
    .header-categories-ul-wrapper svg{
        display: none;
    }
    .header-categories-ul-wrapper{
        margin-left: 40px;
        display: block;
        height: auto;
        width: auto;
        position: static;
    }
}


